---
import type { CollectionEntry } from "astro:content"
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { SEO } from "astro-seo"

type Props = CollectionEntry<"blog">["data"]

const { title, description, pubDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <SEO
      description={description}
      openGraph={heroImage
        ? {
            basic: {
              title,
              image: `https://www.developerhandbook.com${heroImage}`,
              type: "website",
            },
            image: {
              alt: title,
            },
          }
        : undefined}
      twitter={{
        creator: "@jpreecedev",
      }}
    />
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <figure>
              <img src={heroImage} alt={title} />
            </figure>
          )
        }
        <h1 class="title">{title}</h1>

        <p class="published">Published <FormattedDate date={pubDate} /></p>
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
    <style>
      .published {
        font-size: 0.75rem;
      }
    </style>
  </body>
</html>
